# Copia este archivo como .env y llena los valores
# NUNCA subas .env a GitHub

DATABASE_URL=postgresql://usuario:password@host:5432/fepaka
JWT_SECRET=cambia_esto_por_una_clave_segura_larga
PORT=4000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
